@font-face {
  font-family: 'Arial';
  src:url('assets/font/Arial.ttf.woff') format('woff'),
  url('assets/font/Arial.ttf.svg#Arial') format('svg'),
  url('assets/font/Arial.ttf.eot'),
  url('assets/font/Arial.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
